/backend/src/.vs/ProjectEvaluation
/backend/src/.vs/src
/backend/src/NichoShop.Application/bin/Debug/net8.0
/backend/src/NichoShop.Application/obj
/backend/src/NichoShop.Application/NichoShop.Application.http
/backend/src/NichoShop.Application/NichoShop.Application.csproj.user
/backend/src/NichoShop.Domain/bin/Debug/net8.0
/backend/src/NichoShop.Domain/obj
/backend/src/NichoShop.Infrastructure/bin/Debug/net8.0
/backend/src/NichoShop.Infrastructure/obj
/backend/src/obj

/backend/src/NichoShop.TestDataLoader/bin/Debug/net8.0
/backend/src/NichoShop.TestDataLoader/obj
/backend/src/NichoShop.Common/Common/bin/Debug/net8.0
/backend/src/NichoShop.Common/Common/obj
/backend/src/.vs/NichoShop
/backend/src/bin/Debug
/.idea
